<% provide(:title, 'About') %>
<!DOCTYPE html>
<h1>About Us</h1>
<p>
  This is an attempt to create a Rails application from scratch. <br/>
  It is based on the <a href="http://railstutorial.org/">Rails Tutorial</a> by Michael Hartl. <br/>

  The code base is hosted on <a href="https://github.com/Nephelus/Free_Forum">GitHub</a>. <br/>
  The app is hosted on <a href="https://www.heroku.com">Heroku</a>.

</p>