<div class="center hero-unit">
<h1>Welcome to the Rails Free Forum</h1>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %> | 

	<%= link_to "Browse Forums", boards_path, class: "btn btn-large btn-primary" %>

</div>

