<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>
<br/><br/>

<table class="users">
	<tr>
		<th>Username</th>
		<th>Posts</th>
		<th>Topics</th>
	</tr>

	<%= render @users %>
</table>

<br/>
<%= will_paginate %>