<% provide(:title, 'All users') %>

<%= will_paginate %>
<br/><br/>

<table class="users">
	<tr>
		<th>Username</th>
		<th>Rank</th>
		<th>Posts</th>
		<th>Topics</th>
	</tr>

	<%= render @users %>
</table>

<br/>
<%= will_paginate %>