<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>
<br/><br/>

<table class="users">
	<tr>
		<th>Username</th>
		<th>Posts</th>
		<% if current_user.admin? %>
		<th>Actions</th>
		<% end %>
	</tr>

	<%= render @users %>
</table>

<br/>
<%= will_paginate %>