<% provide(:title, 'All Boards') %>

<h1>All Boards</h1>

<%= will_paginate %>
<br/><br/>

<table class="boards">
	<tr>
		<th>Title</th>
		<th>Topics</th>
		<th>Posts</th>
		<th>Last Post</th>
	</tr>
<%= render @boards %>
</table>

<br/>
<%= will_paginate %>