<%= will_paginate %>

<table>
	<tr>
		<th>Title</th>
		<th>Topics</th>
	</tr>
<% @boards.each do |board| %>
	<tr>
		<th><%= link_to board.title, board %></th>
		<th><%= board.topics.count %></th>
	</tr>
<% end %>
</table>

<%= will_paginate %>