
<div>
	<%= form_for @post do |f| %>

	<%= render 'shared/error_messages', object: @post %>

	<%= f.text_area :content %>

	<br/>

	<%= f.submit "Save changes", class: "button submit" %>
	<% end %>
</div>