$even-color: #d6d6d6;
$odd-color: #a6a6a6;

@mixin header-footer {
	background-color: lightgrey;
	border: double;
	border-color: darkgrey;
	border-spacing: 10px;
	padding: 5px;
}

header {
	@include header-footer;
}

footer {
	@include header-footer;
}

/* Debug and alerts */

.debug {
	background-color: orange;
	border: double;
	margin-top: 20px;
	padding: 5px;
}

.alert {
	margin: 10px;
	padding: 5px;
	color: black;

	&.alert-success {
		background-color: green;
	}

	&.alert-error {
		background-color: red;
	}

	&.alert-alert {
		background-color: orange;
	}

	&.alert-notice {
		background-color: yellow;
	}
}

.pagination {
	border: 2px solid;
	border-radius: 5px;
	padding: 5px;
	display: inline-block;
}

/* User rank links */

.user_link {
	text-decoration: none;
	&:hover {
    text-decoration: underline;
	}
}

.rank-admin {
	color: #E00;

}

.rank-default {
	color: black;
}



table, td, tr {
	&.odd {
		background-color: $odd-color;
	}
	&.even {
		background-color: $even-color;
	}
}

th {
	background-color: $even-color;
	border: 2px solid black;
}

div.main-content {
	margin: auto;
	width: 90%;
}

textarea {
	width: 50%;
	min-width: 500px;
	height: 200px;
	resize: none;
}

.admin {
	padding: 5px;
	background-color: orange;
	border-style: double;
}

/* Global rules */

.pc10 {
	width: 10%;
}

.pc90 {
	width: 90%;
}

.center {
	text-align: center;
}

.smaller {
	font-size: smaller;
}

.border {
	border: 2px solid black;
}

.border-right {
	border-right: 2px solid black;
}