@mixin header-footer {
	background-color: lightgrey;
	border: double;
	border-color: darkgrey;
	border-spacing: 10px;
	padding: 5px;
}

header {
	@include header-footer;
}

footer {
	@include header-footer;
}

/* Debug and alerts */

.debug {
	background-color: orange;
	border: double;
	margin-top: 20px;
	padding: 5px;
}

.alert {
	margin: 10px;
	padding: 5px;
	color: black;

	&.alert-success {
		background-color: green;
	}

	&.alert-error {
		background-color: red;
	}

	&.alert-alert {
		background-color: orange;
	}

	&.alert-notice {
		background-color: yellow;
	}
}

/* Posts */
.posts table, tr, td, th {

	border: 2px solid black;
	border-collapse: collapse;

	&.posts {
		width: 100%;
	}

	&.post {
		color: blue;
	}

	&.info {
		width: 200px;
		padding: 5px;
		border: 2px solid black;
	}

	&.content {
		width: 1000px;
		margin: 5px;
		white-space: word-wrap;
		color: red;
	}

}

.users table, tr, td, th {

	border: 2px solid black;
	border-collapse: collapse;

	&.posts {
		width: 100%;
	}

	&.post {
		color: blue;
	}

	&.avatar {
		width: 150px;
		padding: 5px;
		border: 2px solid black;
	}

	&.content {
		margin: 5px;
		white-space: word-wrap;
		color: red;
	}

}