// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.posts-table {
	border-collapse: collapse;

	width: 100%;
}

table.post {
	border-collapse: collapse;
	width: 100%;

	border: 2px solid black;
	td {
		vertical-align: top;
		padding: 5px;
	}
}
