// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topics {
	border-collapse: collapse;
	td {
		vertical-align: middle;
		padding: 5px;
	}
}

.header {

	&.topic-author {
		width: 12%;
	}

	&.topic-posts {
		width: 3%;
	}

	&.topic-last-post {
		width: 15%;
	}

	&.topic-created {
		width: 15%;
	}
}

.column {
	text-align: center;

	&.topic-title {
		text-align: left;	
	}

	&.topic-author {
		text-align: center;
	}

	&.topic-posts {
		text-align: center;
	}

	&.topic-last-post {
		text-align: center;
	}

	&.topic-created {
		text-align: center;
	}
}