<footer>
  <nav>
    Free Forum by Adam Jacobson <b>|</b>
    Based on <a href="http://railstutorial.org/">Rails Tutorial</a> by Michael Hartl <b>|</b>
    <%= link_to "Help",   root_path %> <b>|</b>
    <%= link_to "About", about_path %> <b>|</b>
    <a href="http://news.railstutorial.org/">News</a></li>

    <br/>
    <br/>
    <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
  </nav>
</footer>